---
layout: default
permalink: /posts/
title: Posts
---

<div class="row no-gutters align-items-end">
    <h1 class="offset-1 col-10 heading">Posts</h1>
    <span class="col-1 h3 text-right" style="line-height: inherit;">
    <a href="{{ "/feed.xml" | relative_url }}">
        {%- include icons.html icon="rss" title="Feed" style="color: #ee802f;" -%}
    </a>
    </span>
</div>

<div class="row row-cols-1">
    {% for post in site.posts %}
    <div class="col mt-4">
    <article class="card bg-light">
    {% if post.image %}
    <div class="row no-gutters">
        <div class="col-xl-4">
            <img src="{{ post.image.path | relative_url }}" width="{{ post.image.width }}" height="{{ post.image.height }}" class="card-img img-fluid" alt="">
        </div>
        <div class="col-xl-8">
    {% endif %}
        <div class="card-body">
            <h2 class="h3 card-title"><a class="card-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            <p class="h6 card-subtitle mb-2 text-muted"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
            <p class="card-text">{{ post.description | default: post.excerpt | strip_html }}</p>
        </div>
    {% if post.image %}
        </div>
    </div>
    {% endif %}
    </article>
    </div>
    {% endfor %}
</div>
