---
layout: page
permalink: /projects/
title: Projects
---

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% assign projects = site.projects | sort: "datetime.to", "last" | reverse %}
    {% for project in projects %}
    <div class="col mt-4">
    <article class="card h-100 bg-light">
        {% if project.image %}
        <img src="{{ project.image.path | relative_url }}" width="{{ project.image.width }}" height="{{ project.image.height }}" class="card-img-top img-fluid" alt="">
        {% endif %}
        <div class="card-body">
            {% assign count = project.content | number_of_words %}
            <h2 class="h3 card-title">{% if count != 0 %}<a class="card-link" href="{{ project.url | relative_url }}">{% endif %}{{ project.title }}{% if count != 0 %}</a>{% endif %}</h2>
            {% if project.datetime.from %}
            <p class="h6 card-subtitle mb-2 text-muted">
                <time datetime="{{ project.datetime.from }}">{{ project.datetime.from | append: "-01" | date: "%B %Y" }}</time>
                {% if project.datetime.to %}
                {% if project.datetime.from != project.datetime.to %}- <time datetime="{{ project.datetime.to }}">{{ project.datetime.to | append: "-01" | date: "%B %Y" }}</time>{% endif %}
                {% else %}
                - &hellip;
                {% endif %}
            </p>
            {% endif %}
            <p class="card-text">{{ project.description | default: project.excerpt | strip_html }}</p>
        </div>
        {% if project.tags != empty or project.github %}
        <div class="card-footer">
            <p class="card-text {% if project.tags == empty %}text-center{% endif %}">
                {% for tag in project.tags %}
                <span class="badge badge-secondary align-text-bottom">{{ tag }}</span>
                {% endfor %}
                {% if project.github %}
                {% assign title = project.title | append: " on GitHub" %}
                <a class="card-link h4 mb-0 text-body {% if project.tags != empty %}float-right{% endif %}" href="{{ project.github }}">{%- include icons.html icon="github" title=title -%}</a>
                {% endif %}
            </p>
        </div>
        {% endif %}
    </article>
    </div>
    {% endfor %}
</div>
