{% capture file %}
    {%- include {{ include.icon | prepend: "icons/" | append: ".svg" }} -%}
{% endcapture %}

{% assign before = file | split: ">" | first %}
{% assign after = file | remove_first: before %}

{% assign label = include.title | slugify: "ascii" | prepend: "svg-title-" %}

{{ before }} class="icon" role="img" {% if include.style %}style="{{ include.style }}"{% endif %} {% unless include.title %}aria-hidden="true">{% else %}aria-labelledby="{{ label }}">
    <title id="{{ label }}">{{ include.title }}</title>{% endunless %}
    {{ after }}
