html {
    scroll-behavior: smooth;
}

.heading {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    @include font-size($heading-font-size);
    @extend .text-center;
}

.hr {
    @extend hr;
}

div.highlight {
    @extend .bg-transparent;
}

pre.highlight {
    @extend .rounded;
    @extend .p-1;
}

.icon {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
}

:target::before {
    content: "";
    display: block;
    height: 67px;
    margin-top: -67px;
}

@media screen and (min-width: 1600px) {
    aside {
        position: fixed;
        top: 85px;
        left: calc(50% + 610px);
    }
}

#markdown-toc {
    @extend .nav;
    @extend .flex-column;
    @extend .ml-3;
}

#markdown-toc ul {
    @extend .nav;
    @extend .flex-column;
    @extend .ml-4;
}

#markdown-toc > li {
    display: grid;
    @extend .mb-1;
}

#markdown-toc a {
    @extend .text-truncate;
}
