html {
    scroll-behavior: smooth;
}

.heading {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    @include font-size($heading-font-size);
    @extend .text-center;
}

.hr {
    @extend hr;
}

div.highlight {
    @extend .bg-transparent;
}

pre.highlight {
    @extend .rounded;
    @extend .p-1;
}

mjx-container {
    overflow-x: auto;
    padding: 1px;
}

.icon {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
}

:target::before {
    content: "";
    display: block;
    height: calc(4rem + 2px);
    margin-top: calc(-4rem - 2px);
}

@media screen and (min-width: 100rem) {
    aside {
        position: fixed;
        top: calc(5rem + 2px);
        left: calc(50% + 610px);
        max-height: calc(100vh - 6rem - 2px);
        overflow-y: auto;
        scrollbar-width: thin;
    }

    aside::-webkit-scrollbar {
        width: 8px;
        background-color: #f0f0f0;
    }

    aside::-webkit-scrollbar-thumb {
        background-color: #cdcdcd;
        background-clip: content-box;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    aside::-webkit-scrollbar-thumb:hover {
        background-color: #a6a6a6;
    }

    aside::-webkit-scrollbar-thumb:active {
        background-color: #606060;
    }
}

#markdown-toc {
    @extend .nav;
    @extend .flex-column;
    @extend .ml-3;
}

#markdown-toc ul {
    @extend .nav;
    @extend .flex-column;
    @extend .ml-4;
}

#markdown-toc > li {
    display: grid;
    @extend .mb-1;
}

#markdown-toc a {
    @extend .text-truncate;
}
