// Variables

// Options

$enable-responsive-font-sizes: true;

// Links

$link-color: #2070c0;

// Typography

$font-family-base: 'Ubuntu', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$text-muted: #707080;

// Navbar

$navbar-light-color: rgba(0, 0, 0, .55);
