// Variables

// Options

$enable-responsive-font-sizes: true;

// Links

$link-color: #2070c0;

// Typography

$font-family-base: 'Ubuntu', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$text-muted: #707080;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

// Navbar

$navbar-light-color: rgba(0, 0, 0, .55);
