---
layout: default
---

{% if page.image %}
<div class="row justify-content-center mb-3">
    <div class="col-xl-7 col-lg-8 col-md-9 col-sm-10 col">
        <img src="{{ page.image.path | relative_url }}" width="{{ page.image.width }}" height="{{ page.image.height }}" class="img-fluid rounded" alt="">
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-7">
        {{ content }}
    </div>
    <div class="offset-lg-1 col-lg-4">
        <h2>Latest news</h2>
        <div class="list-group">
        {% assign news = site.data.news | sort: "date" | reverse %}
        {% assign limit = page.news | default: 4 %}
        {% for item in news limit: limit %}
            {% if item.link %}
            <a class="list-group-item list-group-item-action" href="{{ item.link }}">
            {% else %}
            <span class="list-group-item list-group-item-action">
            {% endif %}
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="h6">{{ item.title }}</h3>
                    <small><time datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%B %d, %Y" }}</time></small>
                </div>
                <p class="mb-0">{{ item.content }}</p>
            {% if item.link %}
            </a>
            {% else %}
            </span>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
