---
layout: default
---

<article class="mt-2">
    <header class="mb-4">
        {% if page.image %}
        <img src="{{ page.image | relative_url }}" class="img-fluid rounded d-block mx-auto mb-3" alt="">
        {% endif %}
        <h1 class="h2 mb-1">{{ page.title }}</h1>
        <p class="h6 text-muted"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
    </header>

    {{ content }}

    <script src="https://utteranc.es/client.js"
            repo="Blodangan/blodangan.github.io"
            issue-term="og:title"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
</article>
