---
layout: default
---

<article class="mt-2">
    <header class="mb-4">
        {% if page.image %}
        <img src="{{ page.image.path | relative_url }}" width="{{ page.image.width }}" height="{{ page.image.height }}" class="img-fluid rounded d-block mx-auto mb-3" alt="">
        {% endif %}

        <div class="d-flex align-items-center mb-1">
            <h1 class="mb-0 mr-auto">{{ page.title }}</h1>
            {% if page.github %}
            {% assign title = page.title | append: " on GitHub" %}
            <a class="h3 mb-0 text-body" href="{{ page.github }}">{%- include icons.html icon="github" title=title -%}</a>
            {% endif %}
        </div>

        <p class="d-flex align-items-center">
            <span class="h6 mb-0 text-muted mr-auto">
                <time datetime="{{ page.datetime.from }}">{{ page.datetime.from | append: "-01" | date: "%B %Y" }}</time>
                {% if page.datetime.to %}
                {% if page.datetime.from != page.datetime.to %}- <time datetime="{{ page.datetime.to }}">{{ page.datetime.to | append: "-01" | date: "%B %Y" }}</time>{% endif %}
                {% else %}
                - &hellip;
                {% endif %}
            </span>
            {% for tag in page.tags %}
            <span class="ml-1 badge badge-secondary">{{ tag }}</span>
            {% endfor %}
        </p>
    </header>

    {{ content }}
</article>
